<launch>
  <!-- size of map, change the size inflate x, y, z according to your application -->
  <arg name="map_size_x" value="40.0"/>
  <arg name="map_size_y" value="40.0"/>
  <arg name="map_size_z" value=" 3.0"/>

  <!-- topic of your odometry such as VIO or LIO -->
  <arg name="odom_topic" value="/visual_slam/odom" />
  <node pkg="air_pilot" name="air_pilot_node" type="air_pilot_node" output="screen">
    <remap from="/odom_world" to="$(arg odom_topic)"/>
    <remap from="/grid_map/odom" to="$(arg odom_topic)"/>
    <remap from="/grid_map/cloud" to="/pcl_render_node/cloud"/>
    <remap from="/grid_map/pose"   to = "/pcl_render_node/camera_pose"/> 
    <remap from="/grid_map/depth" to = "/pcl_render_node/depth"/>
    <rosparam file="$(find air_pilot)/config/air_pilot.yaml"/>
  </node>

  <!-- trajectory server -->
  <node pkg="air_pilot" name="trajectory_publisher" type="trajectory_publisher" output="screen">
    <remap from="/position_cmd" to="planning/pos_cmd"/>
    <remap from="/odom_world" to="$(arg odom_topic)"/>
    <param name="trajectory_publisher/time_forward" value="1.0" type="double"/>
  </node>


  <!-- use simulator -->
  <include file="$(find air_pilot)/launch/simulator.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="c_num" value="200"/>
    <arg name="p_num" value="200"/>
    <arg name="min_dist" value="1.2"/>
    <arg name="odometry_topic" value="$(arg odom_topic)" />
  </include>

  <include file="$(find air_pilot)/launch/rviz.launch"/>


</launch>
